<a href="https://colab.research.google.com/github/amroth917/IST652/blob/master/Roth_Allison_Quiz1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
# This is formatted as code
```

Allison Roth
August 20, 2019
Quiz 1
IST652

In [31]:
# Set wd in Google CoLab
from google.colab import drive
drive.mount('/content/drive')

ValueError: ignored

# New Section

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [1]:
#Q1
m = True
n = 3.14
q = "−7.2345907654"
print (type(m))
print(type(n))
print(type(q))

<class 'bool'>
<class 'float'>
<class 'str'>

In [3]:
#Q2
String1 = 'Monty Python'
String2 = "Monty Python"
String3 = 'Monty ' + 'Python'
print(type(String1))
print(type(String2))
print(type(String3))

<class 'str'>
<class 'str'>
<class 'str'>

In [0]:
#Q3
#Creating Empty List
Students = []

In [11]:
#Q4
#Calculate the value of Evennumbers[1], Evennumbers[3], Evennumbers[7],
#and Temp, respectively.

Evennumbers = [2, 4, 6, 8, 10, 12, 14, 16, 18]
Temp = Evennumbers[1]+Evennumbers[3]

Evennumbers[1]
Evennumbers[3]
Evennumbers[7]
Temp

12

In [15]:
#Q5
#What will be the value of Suitcase[1:] and Suitcase[:4], respectively?

Suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

Suitcase[1:]
Suitcase[:4]

['sunglasses', 'hat', 'passport', 'laptop']

In [17]:
#Q6
#Which of the following expressions will make the condition 
#inside the IF statement "TRUE" with the following value for x:

x = 5

if(x <= 0 and x < 0):
     print("Welcome to the world of logical operators")
else:
     print("Try Again")

Try Again

In [18]:
#Q7
#What will the output be (where the numbers will be on separate lines)?

xlist = [1, 2, 3, 4]
for x in xlist:
     print(x + 1)

2
3
4
5

In [20]:
#Q8
#If the user types in '55', what will the result be?

nlist = [8, 92, 79, 55, 23, 17, 4, 45, 63, 9, 100]
threshold = input('Type Threshold: ')
if (max(nlist) > threshold):
     print('Great')
else:
     print('Not great')

Type Threshold: 55

TypeError: ignored

In [0]:
#Q9
In the blog post Data Science: A Kaggle Walkthrough—Understanding the Data, 
  Brett Romero creates Chart 2—Reported Ages of Users. In this chart, 
  we see that there are a number of people whose ages are between 100 and 1,000. 
  This is an example of

In [30]:
#Q11 - Question 1: Lists and Strings
#Suppose that you have a list of strings named examples. 
#Write a Python loop that goes through the list and prints each 
#string where the string length is three or more and the first and 
#last characters of the strings are the same.

#Test your code on the following three versions of the list examples:
#examples = ['abab', 'xyz', 'aa', 'x', 'bcb']
#examples = ['x', 'xy', 'xyx', 'xx']
examples = ['aaa', 'be', 'abc', 'hello']

for instance in examples:
    stringlength = len(instance)
    firstcharacter = instance[0]
    lastcharacter = instance[stringlength - 1]
    
    if stringlength >= 3:
      print(instance)


#You may do this exercise either in the interpreter or in a program. 
#Please submit your code and the output from the three examples.

aaa
abc
hello

In [51]:
#Q12
#For this question, you are to write a program that reads the data 
#in the file state_satscores_2004.txt. Each line of this file has name 
#of a state, mean Verbal SAT score, and mean Math SAT score.
import pandas as pd

SATscores = pd.read_csv('//state_satscores_2004.tsv', sep="\t", header=None)
SATscores.columns = ["State","Mean Verbal Score","Mean Math Score","byebye"]
SATscores = SATscores.drop(columns="byebye", axis=1)
SATscores = SATscores.set_index("State")

#a. Print the state with the highest mean Verbal SAT score 
SATscores.sort_values(by="Mean Verbal Score", ascending=False)[:1]

#b. Print each state that has a mean Math SAT score greater than 500
high_score = SATscores[SATscores["Mean Math Score"] > 500]
high_score

#You may use the code developed for the NBA data as a template, 
#but it is absolutely essential that you use appropriate variable 
#names and that you write original comments for what your program does.

#If you prefer, you can write this program with a csv reader, using 
#state_satscores_2004.tsv.

                Mean Verbal Score  Mean Math Score
State
New York                      497              510
Connecticut                   515              515
Massachusetts                 518              523
New Jersey                    501              514
New Hampshire                 522              521
Maine                         505              501
Pennsylvania                  501              502
Rhode Island                  503              502
Virginia                      515              509
North Carolina                499              507
Maryland                      511              515
Vermont                       516              512
Indiana                       501              506
Hawaii                        487              514
Oregon                        527              528
Alaska                        518              514
Washington                    528              531
California                    501              519
Nevada                        507              514
Arizona                       523              524
Montana                       537              539
Ohio                          538              542
Colorado                      554              553
Idaho                         540              539
West Virginia                 524              514
Tennessee                     567              557
New Mexico                    554              543
Kentucky                      559              557
Wyoming                       551              546
Michigan                      563              573
Illinois                      585              597
Minnesota                     587              593
Alabama                       560              553
Kansas                        584              585
Louisiana                     564              561
Missouri                      587              585
Nebraska                      569              576
Oklahoma                      569              566
Wisconsin                     587              596
Utah                          565              556
Arkansas                      569              555
Iowa                          593              602
South Dakota                  594              597
Mississippi                   562              547
North Dakota                  582              601