<a href="https://colab.research.google.com/github/amroth917/IST652/blob/master/Roth_Allison_Quiz2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
'''
  This program reads the data from the price of gasoline csv file 
    and uses only the numeric data
  Each line of the file has the year, followed by 12 months of gasoline prices
  We put the numeric fields in a numpy array and use the data for numeric operations.

  The outputs of the program are the averages of each month across the years
    and the averages for each year.
'''

import csv
import numpy as np

infile = '//Price_of_Gasoline.XL.csv'

# create new empty lists:  years and prices come from data
yearsList = []
pricesList = []
# names of months for labeling results
monthList = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

# read the data
with open(infile, 'rU') as csvfile:
    # the csv file reader returns a list of the csv items on each line - note delimiter is comma
    priceReader = csv.reader(csvfile,  dialect='excel', delimiter=',')

    # from each line, a list of row items, make separate lists for years and for the prices
    for line in priceReader:
      # skip lines without data
      if line[0] == '' or line[0].startswith('Price') or line[0].startswith('Year'):
          continue
      else:
          try:
            # add the year to list
            yearsList.append(line[0])
            # append the prices (as strings) to the list
            pricesList.append(line[1:])
          except IndexError:
            print ('Error: ', line)
csvfile.close()

print ("Read", len(yearsList), "years of prices")

# make a numpy array for the strings
data = np.array(pricesList)
print('Shape of Prices data', data.shape)

# convert the empty strings to strings of zeros, using a Boolean mask to find empty strings
data[data == ''] = '0'

# now we can convert the whole thing to float without getting conversion errors for the empty strings
prices = data.astype(np.float)

#print(prices)

# compute the average price for each month (or use mean)
# sum along the columns
monthTotalPrices = np.sum(prices, axis = 0)
# divide by number of years to get average
monthAveragePrices = monthTotalPrices / len(yearsList)

#print(monthAveragePrices)
print ("\nAverage gas price for each month\n")

# print the average price for each month
for i, mon in enumerate(monthList):
	print (mon, ':', monthAveragePrices[i])

# compute the average price for each year up to the last one with missing data
# sum along the rows
yearTotalPrices = np.sum(prices, axis = 1)
# divide by number of months to get average
yearAveragePrices = yearTotalPrices / 12

#print(monthAveragePrices)
print ("\nAverage gas price for each year\n")

# print the 
for i, year in enumerate(yearsList[ :-1]):
  print (year ,':', yearAveragePrices[i])

# or display the monthly averages as a simple plot

import matplotlib.pyplot as pp

x = np.arange(12)
pp.xticks(x,monthList)
pp.plot(x, monthAveragePrices)
pp.show()


# or we can also display the years with a simple plot
x = np.arange(len(yearsList)-1)
pp.xticks(x,yearsList)
pp.plot(x, yearAveragePrices[:-1])
pp.show()

# Done!

In [0]:
#people = {'hugh':49,'kate':35,'lucy':24,'bob':36}

peoplelist = [{'name':'bob','age':28},{'name':'dylan','age':43},{'name':'cat','age':17}]

for item in peoplelist:
  if item['age'] > 30:
    print(item['name'])

dylan

In [0]:
def mystery(x):
  if x>0:
    return - x
  else:
    return x

mystery(-5)

-5

In [0]:
import numpy as np
c = np.array([[2,4,6,8],[12,14,16,18],[22,24,26,28]])
c[1,:]

array([12, 14, 16, 18])

In [0]:
d = np.array([6,16,26])
d[d>10]=0
print(d)

[6 0 0]

In [0]:
import datetime
d1 = datetime(2017,2,22,9,30)
d2 = datetime(2017,2,22,10,45)

TypeError: ignored

In [57]:
#Suppose that you have dictionaries with word frequencies. Each dictionary has 
#strings for the keys and numbers for the values (representing the frequencies 
#of the words in the strings). Here is an example dictionary:

#word_freq = {'the':58,'people':6,'beautiful':8,'cats':13}

#Write a function that takes as parameters a word frequency dictionary and a 
#threshold number that is an integer. This function should return a result 
#that is a list of all the words whose frequency is greater than the threshold.

#For example, suppose that you name your function top_words. If you call the 
#function with the above dictionary and the threshold of 10:

#top_words(word_freq, 10)

#you should get the result
#['the', 'cats'],
#where the words can occur in any order.

#Please submit the code for this function and the output using the word 
#frequency dictionary listed below. Please show the output of your code 
#using three separate threshold numbers:


def top_words(word_freq,x):
  print_words = [ ]
  for items in word_freq.items():
    if items[1] < x:
      continue
    else:
      print_words.append(items[0])
  return print_words
      
word_freq = {'the':58, 'people':6, 'beautiful':8, 'cats':13, 
             'finally':9, 'this': 19, 'class': 21, 'is': 101, 'almost': 1, 'over':4}   
    
print(top_words(word_freq,5))
print(top_words(word_freq,20))
print(top_words(word_freq,100))

['the', 'people', 'beautiful', 'cats', 'finally', 'this', 'class', 'is']
['the', 'class', 'is']
['is']

In [0]:
#For this question, you are to write a program that reads the data in the file EUR.pop.rev.csv. 
#For each line in this file there is a country and seven population numbers between 1989 and 1995.

#Choose one of the following to accomplish:

#b. Read the data into a pandas DataFrame using read_csv function.

#Your program must also accomplish all of the following:

#1. Replace missing data with 0
#2. Print each country that has more than 1,000,000 people in 1995
#3. Print the average population in the United Kingdom over those seven years

#Submit your code along with the output of your program.

#You can use code from the class as a template, but it is essential to use 
#appropriate variable names throughout and that you write original comments for what your program does.

In [153]:
#Read the data into a pandas DF using read_cvs function
df = pd.read_csv("//eur.pop.rev.csv")

#set column names
df.columns = ['Country','1989','1990','1991','1992','1993','1994','1995']

#remove rows with at least 2 NaN
df=df.dropna(thresh=2)

#replace missing data with 0
df = df.fillna(0)

#remove first row and reset index
df = df.drop(df.index[0])
df = df.reset_index(drop=True)
df

#Set row values as integers
df['1989'] = df['1989'].astype(int)
df['1990'] = df['1990'].astype(int)
df['1991'] = df['1991'].astype(int)
df['1992'] = df['1992'].astype(int)
df['1993'] = df['1993'].astype(int)
df['1994'] = df['1994'].astype(int)
df['1995'] = df['1995'].astype(int)


#print each country that has more than 1,000,000 people in 1995
df_pop = df[df["1995"] > 1000000]
print(df_pop['Country'])

#print the avg population in the UK over the 7 years
df_uk = df.loc[df.Country == 'United Kingdom']
print(df_uk.mean(axis=1))

16   58062861.43
dtype: float64